body {
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    font-weight: 400;
    background-color: rgba(0, 0, 0, 0.02);
}
.button {
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
}
.button-group li {
    padding-top: 3%;
}
.button-group a {
    color: rgba(0, 0, 0, 1);
    background-color: transparent;
}
.button-group a:hover {
    color: rgba(0, 0, 0, 0.4);
    background-color: transparent;
}
.button-group {
    float: none;
}
@media only screen and (min-width: 40.063em)  {
    .button-group {
    float: right;
}
}
.namelogo {
    padding: 20px 10px 0px 10px;
}
@media only screen and (min-width: 40.063em)  {
    .namelogo {
    padding-bottom: 20px;
}
}
.namelogo h1 {
    font-size: 1.5em;
    font-weight: 600;
    text-align: center;
}
@media only screen and (min-width: 40.063em)  {
    .namelogo h1 {
    font-size: 16px;
    text-align: left;
}
}
@media only screen and (min-width: 64.063em)  {
    .namelogo h1 {
    font-size: 24px;
    text-align: left;
}
}
.hero {
/*    background: url(http://placehold.it/900x800);
*/    /*background-size: cover;*/
    /*box-shadow: inset 0px 0px 0 2000px rgba(0, 0, 0, 0.15);*/
    /*height: 80%;*/
}
.intro-text {
    padding-top: 40%;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}
@media only screen and (min-width: 40.063em)  {
    .intro-text {
    padding-top: 25%;
}
}
@media only screen and (min-width: 64.063em)  {
    .intro-text {
    padding-top: 18%;
}
}
.intro-text p {
    font-family: 'Shadows Into Light', cursive;
    font-size: 44px;
}
.about, .work, .contact {
    padding: 50px 0 0 0;
}
.about img {
    width: 250px;
    height: 250px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
}
.work img:hover {
    opacity: 0.5;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}
.work li {
    height: 140px;
    overflow: hidden;
}
hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    opacity: 0.8;
}
footer {
    padding: 80px 0 10px 0;
}
footer a:hover {
    color: rgba(0, 0, 0, 0.4);
    background-color: transparent;
}


* {
  /*margin: 0;
  padding: 0;*/
  box-sizing: border-box;
}

.sky:before, .sky:after, .earth:before, .earth:after, .sun:before, .sun:after, .hills:before, .hills:after, .house:before, .house:after, .tower:before, .tower:after, .tree:before, .tree.after, .tree div:before, .tree div:after, .house div:nth-child(1):before, .house div:nth-child(1):after, .house div:nth-child(2):before, .house div:nth-child(2):after  {
  content: '';
  display: block;
  position: relative;
}

/*html, body {
  min-width: 700px;
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
}*/

.hero {
  overflow: hidden;
}

.holder {
  display: flex;
  flex-direction: column;
  /*overflow: hidden;*/
  width: 1280px;
  height: 400px;
  position: relative;
  z-index: 1000;
}

.sky {
  flex: 10;
  position: relative;
  background: #50a2a9;
}

.sky > * {
  top: 0;
}

.earth {
  flex: 1;
  position: relative;
  background: #0e1d1f;
  top: 0;
}

/*.sun {
  position: absolute;
  left: 50%;
  bottom: 50px;
  width: 300px;
  height: 300px;
  margin: 0 0 0 -20px;
  border-radius: 50%;
  background: radial-gradient(ellipse at top right, #ffffe0 0%, #ffff94 100%);
}*/

.sun {
  position: absolute;
  left: 50%;
  bottom: 150px;
  width: 300px;
  height: 300px;
  margin: 0 0 0 -20px;
  border: 1px solid grey;
  border-radius: 50%;
  background: radial-gradient(ellipse at top right, #ffffee 0%, #ffffa2 100%);
}

.sun:after {
  top: 100px;
  left: 100px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #dd9;
  box-shadow: 120px 80px 0 #dd9, 100px -60px 0 -20px #dd9, -70px 40px 0 -20px #dd9, -20px -50px 0 -15px #dd9, -20px 120px 0 -15px #dd9, 50px 50px 0 -15px #dd9;
}

.hills {
  position: absolute;
  left: 50%;
  bottom: 0;
}

.hills div:nth-child(2),
.hills div:nth-child(3),
.hills div:nth-child(4) {
  position: absolute;
  bottom: -350px;
  left: -800px;
  width: 500px;
  height: 500px;
  border-radius: 25%;
  background: #304730;
  transform: rotate(45deg);
}

.hills div:nth-child(3) {
  left: -250px;
}

.hills div:nth-child(4) {
  left: 250px;
}

.hills div:nth-child(5),
.hills div:nth-child(6) {
  position: absolute;
  bottom: -400px;
  left: -600px;
  width: 500px;
  height: 500px;
  border-radius: 25%;
  background: #365136;
  transform: rotate(45deg);
}

.hills div:nth-child(5) {
  left: -600px;
}

.hills div:nth-child(6) {
  left: 0;
}

.hills div:nth-child(1) {
  position: absolute;
  bottom: -400px;
  left: -800px;
  width: 800px;
  height: 800px;
  border-radius: 25%;
  background: #406040;
  transform: rotate(45deg);
}

.hills div:nth-child(1) {
  left: -820px;
  bottom: -550px;
}

.airplane {
  position: absolute;
  top: 100px;
  /*left: -10%;*/
  left: 0px;
  z-index: 1;
  width: 30px;
  height: 7px;
  border-radius: 5px 5px 5px 5px;
  background: #0e1d1f;
  /*fly: 35s;*/
}

.airplane:after {
  position: absolute;
  content: '';
  top: -7px;
  left: 4px;
  width: 4px;
  height: 10px;
  border-radius: 5px 5px 5px 5px;
  background: #0e1d1f;
  transform: rotate(-45deg);
}

.airplane:before {
  z-index: 1;
  content: "";
  position: absolute;
  top: 2px;
  left: 4px;
  width: 1.5px;
  height: 1.5px;
  background: #ffffe0;
  box-shadow: 22px 0 0 0 #ffffe0, 21px 0 0 0 #ffffe0, 20px 0 0 0 #ffffe0, 16px 0 0 0 #ffffe0, 12px 0 0 0 #ffffe0, 8px 0 0 0 #ffffe0, 4px 0 0 0 #ffffe0;
}

.tree {
  position: absolute;
  left: 50%;
  bottom: 0;
}

.tree div {
  position: relative;
  float: left;
  display: block;
  width: 6px;
  height: 25px;
  margin: 0 30px 0 0;
  margin-top: 340px;
  background: #322119;
}

.tree div:before {
  top: -9px;
  left: -9px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #0e1d1f;
}

.tower {
  position: absolute;
  z-index: 1;
  right: 50%;
  bottom: 0;
  margin: 0 -350px 0 0;
  margin-top: 65px;
  width: 12px;
  height: 300px;
  background: #172e30;
}

.tower:before {
  content: '';
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
  margin: -10px 0 0 -29px;
  border-radius: 50%;
  background: #172e30;
}

.tower:after {
  content: '';
  top: 50px;
  left: 0;
  width: 4px;
  height: 30px;
  margin: -150px 0 0 4px;
  background: #172e30;
}

.house {
  position: absolute;
  right: 50%;
  bottom: 0;
}

.house div:nth-child(1) {
  position: relative;
  float: left;
  display: block;
  width: 125px;
  height: 250px;
  margin-top: 115px;
  border-radius: 5px 5px 0 0;
  background: #234749;
}

.house div:nth-child(1):before {
  top: 20px;
  left: 20px;
  width: 5px;
  height: 5px;
  background: rgba(0, 0, 0, 0.2);
  animation: .5s light infinite alternate;
  box-shadow: 50px 220px 0 6px #ffffe0, 30px 220px 0 6px #ffffe0, 80px 180px 0 0 #ffffe0, 60px 180px 0 0 rgba(0, 0, 0, 0.2), 40px 180px 0 0 #ffffe0, 20px 180px 0 0 rgba(0, 0, 0, 0.2), 0 180px 0 0 rgba(0, 0, 0, 0.2), 80px 160px 0 0 rgba(0, 0, 0, 0.2), 60px 160px 0 0 rgba(0, 0, 0, 0.2), 40px 160px 0 0 rgba(0, 0, 0, 0.2), 20px 160px 0 0 rgba(0, 0, 0, 0.2), 0 160px 0 0 #ffffe0, 80px 140px 0 0 rgba(0, 0, 0, 0.2), 60px 140px 0 0 rgba(0, 0, 0, 0.2), 40px 140px 0 0 #ffffe0, 20px 140px 0 0 rgba(0, 0, 0, 0.2), 0 140px 0 0 #ffffe0, 80px 120px 0 0 #ffffe0, 60px 120px 0 0 #ffffe0, 40px 120px 0 0 rgba(0, 0, 0, 0.2), 20px 120px 0 0 #ffffe0, 0 120px 0 0 rgba(0, 0, 0, 0.2), 80px 100px 0 0 rgba(0, 0, 0, 0.2), 60px 100px 0 0 #ffffe0, 40px 100px 0 0 rgba(0, 0, 0, 0.2), 20px 100px 0 0 #ffffe0, 0 100px 0 0 rgba(0, 0, 0, 0.2), 80px 80px 0 0 #ffffe0, 60px 80px 0 0 #ffffe0, 40px 80px 0 0 rgba(0, 0, 0, 0.2), 20px 80px 0 0 rgba(0, 0, 0, 0.2), 0 80px 0 0 rgba(0, 0, 0, 0.2), 80px 60px 0 0 rgba(0, 0, 0, 0.2), 60px 60px 0 0 rgba(0, 0, 0, 0.2), 40px 60px 0 0 rgba(0, 0, 0, 0.2), 20px 60px 0 0 #ffffe0, 0 60px 0 0 #ffffe0, 80px 40px 0 0 rgba(0, 0, 0, 0.2), 60px 40px 0 0 rgba(0, 0, 0, 0.2), 40px 40px 0 0 rgba(0, 0, 0, 0.2), 20px 40px 0 0 rgba(0, 0, 0, 0.2), 0 40px 0 0 #ffffe0, 80px 20px 0 0 #ffffe0, 60px 20px 0 0 rgba(0, 0, 0, 0.2), 40px 20px 0 0 rgba(0, 0, 0, 0.2), 20px 20px 0 0 #ffffe0, 0 20px 0 0 #ffffe0, 80px 0 0 0 rgba(0, 0, 0, 0.2), 60px 0 0 0 #ffffe0, 40px 0 0 0 #ffffe0, 20px 0 0 0 rgba(0, 0, 0, 0.2);
}

.house div:nth-child(1):after {
  z-index: 1;
  top: -40px;
  left: 80px;
  width: 8px;
  height: 40px;
  border-radius: 4px 4px 0 0;
  background: #234749;
  box-shadow: 20px 20px 0 0 #234749;
}

.house div:nth-child(2) {
  position: relative;
  top: 85px;
  float: left;
  display: block;
  width: 145px;
  height: 165px;
  margin: 0 50px 0 25px;
  margin-top: 115px;
  border-radius: 5px 5px 0 0;
  background: #1b373a;
}

.house div:nth-child(2):before {
  top: 20px;
  left: 20px;
  width: 5px;
  height: 5px;
  background: #ffffe0;
  box-shadow: 60px 135px 0 6px #ffffe0, 40px 135px 0 6px #ffffe0, 100px 100px 0 0 rgba(0, 0, 0, 0.2), 80px 100px 0 0 rgba(0, 0, 0, 0.2), 60px 100px 0 0 rgba(0, 0, 0, 0.2), 40px 100px 0 0 rgba(0, 0, 0, 0.2), 20px 100px 0 0 rgba(0, 0, 0, 0.2), 0 100px 0 0 #ffffe0, 100px 80px 0 0 #ffffe0, 80px 80px 0 0 rgba(0, 0, 0, 0.2), 60px 80px 0 0 #ffffe0, 40px 80px 0 0 rgba(0, 0, 0, 0.2), 20px 80px 0 0 rgba(0, 0, 0, 0.2), 0 80px 0 0 rgba(0, 0, 0, 0.2), 100px 60px 0 0 rgba(0, 0, 0, 0.2), 80px 60px 0 0 #ffffe0, 60px 60px 0 0 rgba(0, 0, 0, 0.2), 40px 60px 0 0 rgba(0, 0, 0, 0.2), 20px 60px 0 0 #ffffe0, 0 60px 0 0 rgba(0, 0, 0, 0.2), 100px 40px 0 0 #ffffe0, 80px 40px 0 0 #ffffe0, 60px 40px 0 0 rgba(0, 0, 0, 0.2), 40px 40px 0 0 rgba(0, 0, 0, 0.2), 20px 40px 0 0 #ffffe0, 0 40px 0 0 #ffffe0, 100px 20px 0 0 #ffffe0, 80px 20px 0 0 rgba(0, 0, 0, 0.2), 60px 20px 0 0 #ffffe0, 40px 20px 0 0 rgba(0, 0, 0, 0.2), 20px 20px 0 0 rgba(0, 0, 0, 0.2), 0 20px 0 0 #ffffe0, 100px 0 0 0 rgba(0, 0, 0, 0.2), 80px 0 0 0 #ffffe0, 60px 0 0 0 #ffffe0, 40px 0 0 0 rgba(0, 0, 0, 0.2), 20px 0 0 0 rgba(0, 0, 0, 0.2);
}

.house div:nth-child(2):after {
  top: -8px;
  left: 30px;
  width: 80px;
  height: 25px;
  border-radius: 50% 50% 0 0;
  background: #1b373a;
}

/*@keyframes fly {
  0% {
    left: -5%;
  }

  100% {
    left: 105%;
  }
}*/

@-webkit-keyframes fromLeft {
    0%   { left: -5%; }
    100% { left: 105%; }
}

.airplane {
 -webkit-animation-name: fromLeft;
 -webkit-animation-duration: 35s;
 -webkit-animation-iteration-count: 10;         
 -webkit-animation-direction: normal;   /*   normal, alternate  */
 -webkit-animation-timing-function: ease-out, linear;   /*  ease, ease-out, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) (e.g. cubic-bezier(0.5, 0.2, 0.3, 1.0))  */
 -webkit-animation-fill-mode: forwards;   /* forwards, backwards, both, none  */
 /*-webkit-animation-delay: 3s;*/
}

@-webkit-keyframes fromTop {
    0%   { top: -5%; }
    50%  { top: -3%; }
    100% { top: -5%; }
}

.sun {
 -webkit-animation-name: fromTop;
 -webkit-animation-duration: 3s;
 -webkit-animation-iteration-count: 10;         
 -webkit-animation-direction: normal;   /*   normal, alternate  */
 -webkit-animation-timing-function: ease-out, linear;   /*  ease, ease-out, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) (e.g. cubic-bezier(0.5, 0.2, 0.3, 1.0))  */
 -webkit-animation-fill-mode: forwards;   /* forwards, backwards, both, none  */
 /*-webkit-animation-delay: 3s;*/
}